.uiInput--default {
    float:left;
}

.visibility{
    position: absolute;
    z-index: -50;
}

.container-doc{
    margin:0 -20px -20px -20px;
}

.foot{
    background:#DFEDFE; 
    padding: 30px 0;
}

.pr-gray{
    background:#EFEFEF;
}

.pr-white{
    background: white;
}

.subtitle-text{
    color:gray;
}

.icon{
    background: #4891E0;
    padding:10px;
    border-radius:25px;
}

.icon-container{
    display:inline;
}

.title-container{
    display:inline; 
    padding:0 0 0 10px;
}

.uiInput--radio input[type=radio]{
    margin: 0 .5rem 0 0;
    width:20px;
    height: 20px;
}

.uiInput--default .form-element__label{
    color: rgb(62, 62, 60);
    font-weight: bold;
    padding: 0 10px 10px 0;
    font-size:medium;
    vertical-align:super;
    float:right;
}

.btn {
    background-color: #00338c;
    border-color: #00338c;
    color: rgb(255, 255, 255);
 }
 
 .btn:hover {
    background-color: #0064B5;
    border-color: #0064B5;
    color: rgb(255, 255, 255);
 }

.menu{
    padding: 0px 245px;
    color: blue;
}

.question{
    color:rgb(15, 98, 252);
}

.select-status{
    border: 2px solid #4B8FE2;
    border-radius: 25px;
    padding: 5px 5px;
    width:100px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { 
    /* STYLES GO HERE */
    .scrollerSize {
        height:480px;
    }

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
    /* STYLES GO HERE */
    .scrollerSize {
        height:700px;
    } 
}