.THIS {
}

.THIS .icon{
    background: #0064B5;
    padding:10px;
    border-radius:25px;
}
.THIS .container-doc{
    margin:0 -20px -20px -20px;
}

.THIS .foot{
    background:#DFEDFE; 
    padding: 30px 0;
}

.THIS .pr-gray{
    background:#EFEFEF;
}

.THIS .pr-white{
    background: white;
}

.THIS .subtitle-text{
    color:gray;
}

.THIS .icon-container{
    display:inline;
}

.THIS .title-container{
    display:inline; 
    padding:0 0 0 10px;
}

.THIS .uiInput--select.select:not([multiple]), .THIS .uiInput--select .select:not([multiple]), .THIS .uiInput--select .uiPopupTrigger a {
    height: 35px;
    line-height: 30px;
}

.THIS .uiInput--radio input[type=radio]{
    margin: 0 .5rem 0 0;
    width:20px;
    height: 20px;
}

.THIS .uiInput--default .form-element__label{
    color: rgb(62, 62, 60);
    font-weight: bold;
    font-size:medium;
    vertical-align:super;
}

.THIS .btn {
    background-color: #00338c;
    border-color: #00338c;
    color: rgb(255, 255, 255);
 }

 .THIS .btn-active{
    background-color: #00338c;
    border-color: #00338c;
    color: rgb(255, 255, 255) !important;
 }
 
 .THIS .btn:hover {
    background-color: #0064B5;
    border-color: #0064B5;
    color: rgb(255, 255, 255);
 }

.THIS .btn-tab-container{
    border:0px solid #0064B5;
    width:100%;
    /*border-radius:5px;*/
}

.THIS .btn-tab{
    border:1px solid #0064B5;
    border-radius:0;
    color:#0064B5;
    width:100%;
    margin: -1px;
}

/*.THIS .btn-tab:hover{
    color:white;
    background:#4B8FE2;
}*/

.THIS .btn-tab:focus{
    color:white;
    background:#0064B5;
}

.THIS .menu{
    padding: 0px 245px;
    color: #0064B5;
}

.THIS .question{
    color:#0064B5;
}

.THIS .input-field-backwhite{
    border:2px solid #0064B5;
    background: white;
    border-radius:5px;
}

.THIS .input-field-backgray{
    background: white;
    border-radius:5px;
    border:none;
}

.THIS .label-fix .slds-form-element__label{
    display:none;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { 
    /* STYLES GO HERE */
    .THIS .scrollerSize {
        height:480px;
    }

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
    /* STYLES GO HERE */
    .THIS .scrollerSize {
        height:700px;
    } 
}