.THIS.sdgborder {
  border: 1px solid rgb(221, 219, 218);
  border-radius: 0.25rem;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.THIS .referent-header {
  padding-left: 20px;
  font-weight: bold;
  color: #b9b9b9;
}

.THIS .title-header {
  padding: 10px 20px;
  font-weight: bold;
}

.THIS hr {
  margin: 10px 0px;
}

.THIS .attivo {
  color: #0064b5;
}

.THIS .attivo.nome {
  font-weight: bold;
}

.THIS .non-attivo {
  color: #b9b9b9;
}

.THIS .slds-button_brand,
.THIS .slds-button--brand {
  background: #0064b5;
  border-color: #0064b5;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* STYLES GO HERE */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* STYLES GO HERE */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  /* STYLES GO HERE */
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  /* STYLES GO HERE */
  .THIS .iphone {
    display: none;
  }
}