.THIS.sdgborder {
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    background-color: #F7F7F7;
}

.THIS .image {
    text-align: center;
    padding: 20px 0;
}

.THIS .info {
    margin-left: -20px;
}

.THIS .intestazione {
    font-size: 24px;
    font-weight: 100;
}

.THIS .indirizzo {
    font-weight: bold;
}

.THIS .code {
    color: #878787;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { 
    /* STYLES GO HERE */

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
    /* STYLES GO HERE */ 
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media only screen 
and (min-width: 481px) 
and (max-width: 767px)
and (orientation : landscape) {
    /* STYLES GO HERE */
    
    
}
  
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
  
@media only screen 
and (min-width: 320px) 
and (max-width: 480px)
and (orientation : portrait) {
    /* STYLES GO HERE */
    .THIS .iphone {
        display: none;
    }
}