.no-button {
    text-align: center;
    color: #D3D3D3;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 14PX;
}


.color-button {
    background-color: #01B27C;
    color: #FFFFFF;
    margin-top: 24px;
}

.position-button {
    margin-top: 24px;
}

.tableTitle {
    background-color: #f7f7f7;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    z-index: 1000;
}

.lgc-bg {
    background-color: #f7f7f7;
}