.THIS .slds-col--padded.contentRegion.comm-layout-column {
    padding: 0px!important;
}
.THIS .slds-col_padded, .THIS .slds-col--padded {
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.THIS .siteforceContentArea {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.THIS body {
    margin: -0.75rem -0.75rem 0px -0.75rem !important;
}

.THIS .background {
	height: 565px;
	background-color: #002378
}

.THIS a {
	color:white;
	text-decoration: underline;
}

.THIS a:hover {
    color: #a770e1;
}

.THIS .col-auto.text_top {
	display: flex;
	justify-content: flex-start;
	margin-left: 100px
}

.THIS .logo_top {
	margin-top: 100px;
	display: flex
}

.THIS .text_top {
	margin-top: 77px;
}

.THIS .video_top {
	margin-top: 40px
}

.THIS img {
	width: 282px;
	/*height: 66px;*/
}

.THIS p {
	color: #fff;
	font-family: "Publico Text";
	font-size: 30px;
	letter-spacing: 0;
	line-height: 42px;
	text-align: justify
}

.THIS .footer {
	color: #6a6a6a;
	font-family: Roboto;
	font-size: 15px;
	letter-spacing: 0;
	line-height: 22px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 63px
}

@media only screen and (min-device-width:320px) and (max-device-width:667px) and (orientation:portrait) {
	.THIS .background {
		height: 700px
	}
	.THIS .logo_top {
		margin-top: 50px
	}
	.THIS p {
		text-align: center
	}
	.THIS .video_top {
		margin-top: 50px
	}
	.THIS iframe {
		height: 330px
	}
	.THIS .col-auto.text_top {
		justify-content: center;
		margin-left: 0
	}
}