.THIS {
    min-height: 410px;
}

.THIS .title {
    display: inline-block;
    margin-left: 10px;
    vertical-align: sub;
}

.THIS .open-component {
    display: inline-block;
    position: absolute;
    right: 10px;
    vertical-align: super;
}

.THIS .slds-card__body {
    margin: 0 10px 10px 10px;
}

.THIS .box > div:nth-child(even) {
    background-color: #F7F7F7; /* F7F7F7 */
}

.THIS .cell-height{
    height: 162px;
    position: relative;
}

.THIS .dot{
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
}


.THIS .green{
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 50%;
    background-color:#49c642;
    box-shadow: 0 0 5px 1px rgb(194, 194, 194);
}

.THIS .red{
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 50%;
    background-color:#C30217;
    box-shadow: 0 0 5px 1px rgb(194, 194, 194);

}

.THIS .grey{
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 50%;
    background-color:#808080;
    box-shadow: 0 0 5px 1px rgb(194, 194, 194);
}

.THIS .header {
    font-weight: bold;
    overflow: hidden;
}

.THIS .value {
    position: absolute;
    bottom: 75px;
    font-weight: 600;
    font-size: 10px;
    color: rgb(194, 194, 194);
    left: 0;
    right: 0;
    margin: auto;
}

.THIS .box{
    box-shadow: 0 0 10px 2px rgba(247, 247, 247);
}

.THIS .column{
    display:block;
}

.THIS .slds-text-title {
    font-size: .65rem;
}

.THIS .freccia {
    height: 10px;
    padding-left: 5px;
}

.THIS .freccia-down {
    padding-right: 5px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { 
    /* STYLES GO HERE */
    

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
    /* STYLES GO HERE */ 
    
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media only screen 
and (min-width: 481px) 
and (max-width: 767px)
and (orientation : landscape) {
    /* STYLES GO HERE */
    
    
}
  
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
  
@media only screen 
and (min-width: 320px) 
and (max-width: 480px)
and (orientation : portrait) {
    /* STYLES GO HERE */
    .THIS .iphone {
        display: none;
    }

    .THIS .title {
        font-size: 14px;
        margin-left: 2px;
    }

    
}