.THIS {
}

.THIS .cstm-btn-round {
    border-radius: 25px;
    border-radius: 25px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.THIS .cstm-btn-round.cstm-btn-brand {
    background-color: #0064B5!important;
    border-color: #0064B5!important;
    color: #FFF;
}

.THIS .cstm-btn-round.cstm-btn-brand:disabled {
    background-color: #CCC!important;
    border-color: #CCC!important;
    cursor: not-allowed;
}