/* SPINNER */
.cstm-spinner-msg-container {
    position: fixed;
    z-index: 999999;
    width: 100%;
    /* margin-top: 14%; */
    background-color: #FFF;
}

.spinnerWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.spinnerWrapper.slds-hide {
    display: none !important;
    visibility: hidden !important;
}

.spinnerWrapper .cstm-spinner-msg {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 40%;
    border-bottom: 2px solid #CCC;
    padding: 28px 0;
}

/* SPINNER */

.cstm-account-oppty-header{
    background-color: #f7f7f7;
    border-radius: 5px 5px 0 5px;
}

.cstm-account-oppty-header > div:first-child {
    font-size: 13px;
}

.cstm-account-oppty-header .remove-oppty {
    margin-top: 40px;
}

.cstm-account-oppty-header-border{
    border-right: 2px solid #DDD;
}

.cstm-account-oppty-header-height {
    min-height: 140px;
}

.titolare-esecutore{
    padding-top: 35px;
}

/* CSTM MAIN WIZARD */

/* .cstm-main-wizard-wrapper .cstm-main-wizard-progress-bar {
    width: 80%;
    display: block;
    margin: auto;
} */

.cstm-main-wizard-wrapper .cstm-main-wizard-progress-bar .slds-progress-bar__value {
    background-color: #0064b5 !important;
}

.cstm-main-wizard-wrapper .cstm-main-wizard-item {
    display: inline-block;
    width: 25%;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
}

.cstm-main-wizard-items.isRinnovo .cstm-main-wizard-item:first-child {
    margin-right: 60%;
}

.cstm-main-wizard-wrapper .cstm-main-wizard-item .cstm-main-wizard-dot {
    width: 14px;
    height: 14px;
    background-color: #a0a0a0;
    border-radius: 50%;
    margin: auto;
    margin-top: -8px;
    position: relative;
}

.cstm-main-wizard-wrapper .cstm-main-wizard-item.inProgress .cstm-main-wizard-dot,
.cstm-main-wizard-wrapper:not(.dataTracker) .cstm-main-wizard-item:hover .cstm-main-wizard-dot {
    background-color: #0064b5;
}

.cstm-main-wizard-wrapper .cstm-main-wizard-item.completed .cstm-main-wizard-dot {
    background-color: #0BAD58;
}

.cstm-main-wizard-wrapper .cstm-main-wizard-item.failed .cstm-main-wizard-dot {
    background-color: #ED495B;
}

.cstm-main-wizard-wrapper .cstm-main-wizard-item .cstm-main-wizard-label {
    color: #a0a0a0;
    padding-top: 4px;
    text-transform: uppercase;
}

.cstm-main-wizard-wrapper.dataTracker .cstm-main-wizard-item .cstm-main-wizard-label {
    text-transform: none;
    font-size: 12px;
}

.cstm-main-wizard-wrapper .cstm-main-wizard-item.active .cstm-main-wizard-label,
.cstm-main-wizard-wrapper:not(.dataTracker) .cstm-main-wizard-item:hover .cstm-main-wizard-label {
    color: #0064b5;
    font-weight: bold;
}

.cstm-main-wizard-wrapper .cstm-main-wizard-item .cstm-main-wizard-time {
    font-size: 10px;
}

.cstm-main-wizard-wrapper .cstm-main-wizard-item .cstm-main-wizard-time .slds-icon {
    width: .9rem;
    margin-right: 2px;
    height: .9rem;
}

.remove-oppty{
    margin-top:8%;
    margin-left: var(--lwc-spacingXxSmall,0.25rem);
}

/* CSTM MAIN WIZARD */