.THIS.container {
}

/*.THIS.container-doc{
    border:2px solid #0BAD58;
    border-radius:10px;
}*/

.THIS .container-doc-opty {
  border: 1px solid #0064b5;
  border-radius: 10px;
}

.THIS .container-doc-opty-positive {
  border: 1px solid #0064b5;
  border-radius: 10px;
}

.THIS .container-doc-opty-negative {
  border: 1px solid #ed495b;
  border-radius: 10px;
}

.THIS .all-border-blue {
  border-top: 1px solid #0064b5;
  border-radius: 10px;
}

.THIS .all-border-red {
  border-top: 1px solid #ed495b;
  border-radius: 10px;
}

.THIS .no-button {
  text-align: center;
  color: #d3d3d3;
  font-weight: 800;
}

.THIS .block {
  display: block;
}

.THIS .text-doc {
  font-size: x-small;
  color: gray;
}

.THIS .title-color {
  color: rgba(180, 180, 180, 0.473);
}

.THIS .container-border-title-red {
  border: 1px solid #ed495b;
  border-right: 1px solid #ed495b;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.THIS .container-border-content-red {
  border: 1px solid #ed495b;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.THIS .container-border-title-blue {
  border: 1px solid #0064b5;
  border-right: 1px solid #0064b5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.THIS .container-border-content-blue {
  border: 1px solid #0064b5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.THIS .container-title {
  min-height: 250px;
  border-right: 1px solid lightgray;
  box-shadow: 2px 0 10px lightgrey;
}

.THIS .border-opty-right {
  border-right: 0px;
}

.THIS .border-opty-left {
  border-left: 0px;
}

/*.THIS .container-title-red{
    background:#ED495B;
}*/

.THIS .container-title-blue {
  background: #0064b5;
}

.THIS .container-title-small {
  min-height: 135px;
  border-right: 1px solid lightgray;
  box-shadow: 2px 0 10px lightgrey;
}

.THIS .parent-single-doc {
  width: 100%;
}

.THIS .back-icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #0bad58;
}

.THIS .back-icon-negative {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #ed495b;
  /*border: 1px solid #ED495B;*/
}

.THIS .back-icon-positive {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #0064b5;
  /*border: 1px solid #5598E2;*/
}

.THIS .back-icon-action {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
}

.THIS .back-icon-action-positive {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  /*background-color: white;*/
  border: 2px solid #0064b5;
}

.THIS .back-icon-action-negative {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  /*background-color: white;*/
  border: 2px solid #ed495b;
}

.THIS .back-icon-action-positive-small {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  /*background-color: white;*/
  border: 2px solid #0064b5;
}

.THIS .back-icon-action-negative-small {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  /*background-color: white;*/
  border: 2px solid #ed495b;
}

.THIS .single-doc {
  min-height: 165px;
  min-width: 25%;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  /*border:1px solid lightgray;*/
  margin: 0px;
  /*width:25%;*/
}

.THIS .single-doc:first-child {
  border-right: 0px;
}

.THIS .single-doc:last-child {
  border-right: 1px solid lightgray;
}

.THIS .single-doc_back {
  min-height: 165px;
  min-width: 25%;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  /*border:1px solid lightgray;*/
  margin: 0px;
  /*width:25%;*/
  /*background-color: #0BAD58;*/
}

.THIS .single-doc_back:first-child {
  border-right: 0px;
}

.THIS .single-doc_back:last-child {
  border-right: 1px solid lightgray;
}

.THIS .single-doc_back-negative {
  min-height: 150px;
  min-width: 25%;
  background-color: #ed495b;
  margin: 0px;
}

.THIS .single-doc_back-positive {
  min-height: 150px;
  min-width: 25%;
  background-color: #0064b5;
  margin: 0px;
}

.THIS .btn-header {
  background-color: #0064b5;
  border-color: #0064b5;
  color: rgb(255, 255, 255);
  /*border-radius:20px;*/
}

.THIS .btn {
  background-color: #0064b5;
  border-color: #0064b5;
  color: rgb(255, 255, 255);
  border-radius: 20px;
}

.THIS .btn:hover {
  background-color: #0064b5;
  border-color: #0064b5;
  color: rgb(255, 255, 255);
}

.THIS .btn-expand {
  border: 1px solid #0064b5;
  border-radius: 25px;
}

.THIS .btn-expand-positive {
  border: 1px solid #0064b5;
  border-radius: 25px;
}

.THIS .btn-expand-negative {
  border: 1px solid #ed495b;
  border-radius: 25px;
}

.THIS .required {
  font-size: 10px;
}

.THIS .required:after {
  content: "*";
  font-size: 13px;
}

.THIS .slds-radio_button [type="radio"]:checked + .slds-radio_button__label {
  background-color: #0064b5;
}

.THIS fieldset {
  display: inline-block;
}

.THIS .slds-form-element {
  float: right;
}

.THIS .text-doc .slds-form-element {
  float: left;
}

.THIS .slds-form-element__control {
  display: inline-block;
}

.THIS .slds-form-element__label {
  padding-top: 0.5rem;
}

.THIS .opty-link {
  color: #0064b5;
  cursor: pointer;
}

.THIS .slds-button_icon-border.slds-is-selected {
  background-color: #0064b5;
  border-color: #0064b5;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* STYLES GO HERE */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* STYLES GO HERE */
}