.no-button {
    text-align: center;
    color: #1c1f1d;
    font-weight: 800;
    text-transform: uppercase;
}

.success {
    color: #ffffff;
    background-color: #029b02;
}

.error {
    color: #ffffff;
    background-color: #d90d0d;
}