.THIS {
}

.THIS .resultSelected {
    border: 1px solid #ECEBEA;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.THIS .containerFilterBackground {
  width: 75px;
    height: 25px;
    position: absolute;
    left: 5px;
    top: 0px;
    z-index: 1;
    background: #fff;
}

.THIS .containerFilter {
  border:1px solid #DAD7D8;
  border-radius:5px;
  margin-bottom: 20px;
}

.THIS .containerFilter .slds-accordion {
  margin-top: -23px;
}

.THIS .slds-accordion__summary-action {
  z-index: 10;
}