.THIS .border-title{
    border-left:3px solid #b9b9b9;
    margin: 0 0 -15px -5px;
}

.THIS .slds-form-element__control{
    padding: 0;
 }
 
 .THIS .slds-form-element__static{
    font-weight:bold;
 }
 
 .THIS .logo{
    max-width:58px;
    max-height:30px;
    margin:8px 0 0 0;
 }
 
 .THIS .logo-container-layout {
    margin: -15px -10px 0 -15px;
 }
 
 .THIS .transparent {
    color: transparent;
 }